<!DOCTYPE html>
<html>
<head>
    <title>Mini Job Search</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="sunrise">

<div class="hero">
    <h1>Mini Job Search</h1>
    <p>Search jobs based on skills, experience & location</p>

    <p> ✔ Skill-based matching<br>
        ✔ Location filtering<br>
        ✔ Resume optional<br>
        ✔ Real-time job APIs</p>

    <a href="/login"><button>Login</button></a>
    <a href="/register"><button>Create Account</button></a>
</div>

</body>
</html>
